/*
 *              ▁▁▁▂▂▃▃▃▃▃▄▄▄▄▄▄▄▄▄▄◛▄▄▄▄▄▃▃▃▃▂▂▂▂▁▁▁▁▁▁                  
 *      ▂▄▅▅▆▆▇▇◙∭▢□▇◘▛◘◘∟◙──∽▁▁▆▆▆▆▆▆▆▆▆▁⋯∼∼──◄∟◒◡◡▂▂◙▔▛▇▆▆▅▄▃▂          
 *      ▛▟▛◙◘▔▔▁▁▃▟▆▆■▇▜▜∭◘◘◘◘───∽⋯⋯⋯∼∼──≞≞▔◘◘∭▛▛▜▇▇▇▆▟▃◙▔∭■◼⋯▂▟▎         
 *      ▐▇▅▟▂▇▆▬◘◘∭□▂▁▇▛▛⋯⋯─▰∟▴◒◒◡◡◡◡◡◡◡◡◡◡◡◡⊐▭∟▔▜▆▁▂□∭◘◘▰⋯◠▂▙▆▊          
 *      ▐▟▛▜▜◘∭█▇▇▇▆▟▟▟▃▂▂◙▁▇▇▇◠◠◠◠◠◠◠◠◠◠◠◠◠▁▁▁◙◙▂▃▃▙▆▆▆▇▇◘▛▜▜▃▋          
 *      ▐███▇▇▇▆▅▟▟▃▂▛▛▜▜▜▜▜◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘▛▜▜▛▜▜▂▂▃▙▅▆▇▇▇███▋          
 *      ▐███∭███◘▀▀▀▜███████▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇██████████████████▋          
 *      ▐██▋▐▓▀▔▃▆▇▛▗██████████████████████████▓◘▜█████▛▀▛▀▛▜██▋          
 *      ▐███▞▘ ◕▀▀▃▅▇████████████████████████▛▀▃▸▐████▛▁▟▘▐▙▟██▋          
 *      ▐██▊▎▗▇████████████████████████████▓▀▗⋡▚▅████▛▎▟▘▗▓▀███▋          
 *      ▐██▍ ▟▀▃▜█▛▀▔▀▀▜█▛◘∭◘◘▓◘◘██▛▀▜◘◘██▛▘ ╺⋞█▛▀▃▔▛▘▐▌▗▇▘▐███▌          
 *      ▐██▎▐▊▟▌▟▘▁▟▊▎▗▇▛▘▗▅ ▗▄ ▁▟▛▔▗▄▎ ▀▀▔▄▆▎◺◘▎▝◢▆▘▗▛▁▟▘▖▐███▌          
 *      ▐██▍▝▓▛▄▌ ▟▛▘▗▟▀ ▗▊▘▗▟▘▗▟▀▔▗█▛ ▗▘ ▟▓▘▁▞▀▂▅≸▘▗▛▘▟▘●▘∄▜██▌          
 *      ▐██▇▅▅▇█▙▂▂▖ ▝▄▘▗▇▘▗▇▘◡▀▍ ▗▛▘▁▅▊ ▐▛▘▃▛▔▝▀▚▍ ▐▖▁▃▄▃▅▅▇██▌          
 *      ▐███████████▇█▇▇▇▇▆▇█▅▆▘▁▟▅▄▆▇█▇▄▄▅▇█▇▅▅▇█▇▆███████████▌        
 *      ▐████████████████████▓▘▁▟██████████████████████████████▌        
 *      ▐████████████████████▇▆▇███████████████████████████████▍        
 *      ▐███████████▛▀▜▓◘◘█∭█∭█████████████∭█▓∭◘█◘▀▜███████████▍        
 *      ▐███████████▙▛▜▙◥◤▟▍▞▎█∩▅▔█╶▁▜▌╻▘▐▙▂◥▊⊒⊒█▁▘▟███████████▍        
 *      ▐██████████████████▇█▇█▆▆▇█▆▆▇▙▇▆▇▇▆▆▇▇████████████████▍        
 *      ▐██████████████████████∭▛▛▜▜▛▛▜◘███████████████████████▍        
 *      ▐████████████████████▛▜▆▓◘▜▎▔▜▇╌▟▛▓████████████████████▍        
 *      ▐◘∭█████████████████▜╶▊▜◙◙▁◙▆▟▆◙▛▜▞▜█████████████████▓◘▍        
 *      ▐  ▔▀▀▀◘∭∭█████████▊▟▜▓▇◙▜─▜▜▓∭◘▅▲▜▝███████████∭◘▀▀▀▔ ▐▍        
 *      ▐         ▔▔▀▀▀▀▀▀◘▜▇▜▊◙▟▇▓∨▙◙▙▆▆▆▟ ◘◘◘◘▀▀▀▀▔▔▔       ▐▍        
 *      ▐                  ▝▜▋▜▟▢▢▇◙▓╶▟▙≸▇▛▛                  ▐▍        
 *      ▐                   ▝▜▟▜▓◘∭◘◘◡▆▙▛▔▛▔                  ▐▎        
 *      ▐                    ▔▀▜▜▪▆▆▆⋯▛▛≝▘                    ▐▎        
 *      ▐                       ▔▔▀▀▀▀▔▔                      ▐▎        
 *      ▐                                                     ▐▎        
 *      ▐      ▗▃▁▁                                 ▁▁        ▐▎        
 *      ▐      ▝▜█◘▍▗▅▆▆▄▖  ▂▂▂▎ ▁▁▁   ▗▂▂▂ ▗▃▃▄▄▖▗▆▛◘▇▖      ▐▎        
 *      ▐       ▐█▎ ▟▊▔▔▜▊  ▟██▍▗██▊   ▟▊▜▊ ▝▀▜█▀▘▟▊▔ ◙▋      ▐▎        
 *      ▐       ▐█▎ ▜▊▁ ▟█  █▊▜▋▟▊▜█▎ ▗█▌▟█▍  ▐█▎ ▜▊▁▗█▍      ▐▎        
 *      ▐       ▝▀▎ ▝▜▆▆█▛ ▗█▋▐██▍▐█▎ ▟▓▀▀█▙▎ ▐█▎ ▝◘∭◘▀       ▐▎        
 *      ▐             ▔▔▔  ▝▀▘▝▀▀ ▝▀▘▝▀▘  ▀▀▎ ▔▔              ▐▎        
 *      ▐                                                     ▐         
 *      ▐                                                     ▐         
 *      ▐╸╷         ▗▄▄▃▂▂                      ▁▁           ╷▐         
 *      ▐▂┚⋅╒▃▁▁▎   ▜▜▊▀≝▜▖▁▄▆▇▆▆▃▁▐▆▅▅▅▅▆▆▍▟▇▇◘◘◙▙      ▁▁◢┈▘╟         
 *      ▛▃◥◣▁▘▔╲◩▘  ▃▞▀▜▆▄▁▐▟▊▔▀▓▇▙ ▜▜▜▔▐▙▋ ▔∭▙▅▆∭▀ ▁▂╭╴◓╝▔▔▁◢▛▌        
 *      ┗▁▜▅▂▀≖◣▃▁▁ ▝∭⋛▆▟▊▍▝∭▇▙▃▟▟▛ ▐▟∭▁▂▓▌▁▂▟▇▃▔    ╵▔▁▁▃▰◤▔▟▗▌        
 *       ▝▀▜▇▟▆▅▄▂▔▀◥▬◒◣▃▂▁▁▝▀≝◘▀▀▔ ▝▀◘◘◘▀▔ ◚▀▀▀▁▂▃◢▰≖▀▔▂▃▅≸▙◢▘         
 *         ▔▔▀◘∭▁▾▔▀≣▆▅▅▄▃▃▂▂▁▀▀▀▀▀◥◥◥◓◓◓◤◤◠◠▁▁▂▂▃▄▄▅▆⊈◘▆∭◘▀▔           
 *              ▔▔▀▀▬◘▩∭▂▁▁▁▔▔▔▔▔▔◘▀▀◠◠≝▀▔▔▔▔▔▔▁▁▂∭◘◘◚▀▀▔               
 *                       ▔▔▔▔▀▀▀▀▀▀◚◚◚≝≝≝≝▀▀▀▀▀▔▔▔                      
**/

:root {
    --fg: black;
    --bg: white;
}

body.invert {
    --fg: white;
    --bg: black;
}

* {
    margin: 0;
    padding: 0;
}

#outer {
    position: absolute;
    background-color: var(--bg);
    font-family: "Open Sans", sans-serif;
    inset: 0;
    overflow: hidden;
    overflow-y: auto;
}

canvas {
    position: absolute;
    display: block;
    width: 1500px;
    height: 1000px;
    align-self: center;
}

#container {
    position: relative;
    max-width: 800px;
    margin: 0 auto 250px;
    display: flex;
    flex-direction: column;
}

#resume {
    padding: 204px 20px 0;
    z-index: 1;
    top: 0;
    color: var(--fg);
    position: relative;
    box-sizing: border-box;
}

#resume p,
#resume a {
    font-family: Inconsolata, monospace;
}

#andrew-stein {
    color: var(--bg);
    vertical-align: bottom;
    text-align: center;
    letter-spacing: 1.3rem;
    font-size: 45px;
    font-family: "Pathway Gothic One", sans-serif;
    pointer-events: none;
}

#andrew-stein a,
#links a {
    font-family: "Pathway Gothic One", sans-serif;
    color: var(--bg);
    text-decoration: none;
    padding: 12px;
}

#andrew-stein a span:nth-child(1) {
    margin-right: -0.2em;
}

#andrew-stein a span:nth-child(2) {
    margin-right: -0.5em;
}


#links a {
    font-size: 18px;
    letter-spacing: 0.2em;
    color: var(--bg);
}


#links a i {
    color: rgba(127, 127, 127, 1);
}



#resume #links a:hover {
    background-color: var(--bg);
    color: var(--fg);
    box-shadow: 0 0 0 4px var(--bg);
    border-radius: 4px;
    cursor: pointer;
}

#links {
    color: rgba(127, 127, 127, 1);
    margin: 12px 0 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    justify-self: center;
    width: 431px;
    border-top: 2px solid rgba(127, 127, 127, 1);
    padding-top: 8px;
    border-radius: 0px;

}

a,
a:visited {
    color: var(--fg);
}

h1:not(#andrew-stein) {
    font-family: "Pathway Gothic One", sans-serif;
    letter-spacing: 1rem;
    margin-bottom: 24px;
    margin-top: 64px;
}

#resume ul li {
    margin-bottom: 10px;
}

#resume ul li a code {
    display: inline-flex;
    min-width: 130px;
}

#resume a {
    border-radius: 3px;
    transition: box-shadow 0.5s, background-color 0.5s;
}

/* biome-ignore lint/style/noDescendingSpecificity: I want it */
#resume a:hover {
    color: var(--bg);
    background: var(--fg);
    box-shadow: 0 0 0 15px var(--fg);
    box-sizing: content-box;
    text-decoration: none;
    transition: none;
}

#resume #works li {
    margin-bottom: 36px;
}

#resume #works li span {
    font-size: 1.4em;
    margin-bottom: 10px;
    display: inline-block;
}


#vcr_controls {
    position: absolute;
    top: 12px;
    right: 12px;
    font-family: "Inconsolata", monospace;
    z-index: 100;
}

#vcr,
#theme {
    font-family: "Pathway Gothic One", sans-serif;
    letter-spacing: 0.5em;
    appearance: none;
    color: var(--fg);
    border: none;
    padding: 15px;
    padding-left: calc(15px + 0.5em);
    background: none;
    border-radius: 3px;
    transition: box-shadow 0.5s, background-color 0.5s;
}

#vcr:hover,
#theme:hover {
    background-color: var(--fg);
    box-shadow: 0 0 0 4px var(--fg);
    color: var(--bg);
    cursor: pointer;
    transition: none;
}